@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC5 application</h1>
    <p class="lead">This is a sample ASP.Net invoice application.It has been developed usin ASP.Net MVC5,
     C#, Javascript,JQuery,AJAX,Bootstrap,LINQ using Entity 6 Framework.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pages Cretaed</h2>
        <p>
            <ol>
                <li>
                    Home Page
                </li>
                <li>
                    Invoice Page - Consists of list of Invoices
                </li>
                <li>
                    Customer Page - Has a list of customers.
                </li>
                <li>
                    Product Page - Has a list of Pages.
                </li>
            </ol>
            *Need to download the Entity Framework and JQuery libraries.
        </p>
       
    </div>
    <div class="col-md-8">
        <h2>Functionalities</h2>
        <p>
            I have used an empty ASP.Net MVC application to achieve the following functionalities.
            <ul>                                
                <li>
                    The user can Create/Edit/Delete an entry for a new product, a new customer or a new Invoice.
                </li>
                <li>
                    For the invoice form, The user can specify the total invoice limit,beyond which 
                    the user will not be able to add a new invoice.
                    It also has a warning limit, which warns the user that the total invoices is nearing the maximum limit.
                    By default they are set to 1000 and 850 respectively.
                     
                </li>
            </ul>
        </p>
        
    </div>
    </div>